@model Production.Application.InjectionMolds.InjectionMoldDto

@{
    ViewData["Title"] = "Create Injection Mold";
}

<h1>Create Injection Mold</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Producer" class="control-label"></label>
                <input asp-for="Producer" class="form-control" />
                <span asp-validation-for="Producer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Consumption" class="control-label">Material consumption</label>
                <input asp-for="Consumption" type="number" class="form-control" />
                <span asp-validation-for="Consumption" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="MaterialId" class="control-label">Material</label>
                <select asp-for="MaterialId" type="number" class="form-control">
                    <option value="" disabled selected></option>
                    @foreach(var material in ViewBag.Materials)
                    {
                        <option value="@material.Id">@material.Name</option>
                    }
                </select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
